 .font-title {
     font-family: 'Comfortaa', sans-serif;

 }
 .font-text {
    font-family: 'Questrial', sans-serif;

}
.font-text-button {
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
}
